<div>
    <div class="panel-body">    
        <div class="form-group">
            <pre id="editor"></pre>
        </div>
        <button id="submit" class="btn btn-danger btn-sm">Submit</button>
        <button id="history" class="btn btn-primary btn-sm">History</button>
        <button id="save" class="btn btn-success btn-sm">Save</button>
        <div id="previous"></div>
    </div>
</div>