<div>
    <div class="panel panel-gemt">
        <div class="panel-heading">        
            <span class="panel-title">{{title}}</span>&nbsp;&nbsp;<sup class="ver"><a href="readme.txt">{{version}}</a></sup>
        </div>
    </div>				
</div>