<div>
    <div class='history'>
        <div class='history-query'><code class="language-sql">{{query}}</code></div>
        <div class='history-delete'>
            <button id='exec' class='btn btn-success btn-xs'><span class="glyphicon glyphicon-play"></span></button>
            <button id='delete' class='btn btn-danger btn-xs'><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
</div>